@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  /* font-variation-settings:
    "wdth" 100; */
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* shared styles */
.display-flex {
  display: flex;
}

.text-primary {
  color: #e95a08;
}

.text-gray {
  color: #8987a1;
}
.text-home {
  color: #252432;
}
.text-cart {
  color: #000000;
}
.text-description {
  color: rgba(0, 0, 0, 0.5);
}
.bg-light {
  background-color: aliceblue;
}
.btn-primary {
  background-color: #e95a08;
  font-weight: 600px;
  font-size: 1rem;
  color: white;
  border: none;
  padding: 18px 35px;
  width: 270px;
  height: 50p;
}

.all-container {
  max-width: 1140px;
  margin: 0 auto;
}
.all-container-2 {
  max-width: 1440px;
  margin: 0 auto;
}
/* navbar related styles */

.navbar {
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.nav-item {
  list-style: none;
  margin-right: 30px;
}

.nav-item-2 {
  list-style: none;
  margin-right: 30px;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
}
#logo {
  width: 135px;
  height: 82px;
}

/* banner styles */

.banner {
  padding-top: 80px;
  display: flex;
  align-items: center;

  /* color: white; */
  margin: 50px auto;
}

.banner-content-left {
  /* padding-left: 45px; */
  padding-top: 60px;

  flex: 1;
}

.banner-title {
  font-weight: bold;
  font-size: 3.5rem;
  /* font-size: 70px; */
  line-height: 70px;
}
.banner-description {
  font-weight: 400px;
  font-size: 1.4rem;
  padding: 10px 0;
  color: rgba(0, 0, 0, 0.5);
  margin: 10px 0 0 0;
  /* max-width: 65%; */
}

.banner-flower-right img {
  display: block;
  flex: 1;
  width: 100%;
}
/* Our Plants Section */

/* .our-plants {
  gap: 50px;
} */

.our-plants-content {
  align-items: center;
  text-align: center;
  padding-top: 40px;
}
.our-plants-content-title {
  font-weight: bold;
  font-size: 3.2rem;
}

.our-plants-content-description {
  font-weight: 400px;
  font-size: 1.4rem;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.5);
  padding-top: 15px;
}
.flower-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 50px;
  gap: 15px;
}

.flower {
  border: none;
  gap: 50px;
}

.flower-content {
  text-align: center;
}

.flower-title {
  font-weight: 500px;
  font-size: 1.4rem;
  padding-top: 10px;
}
.flower-description {
  font-weight: bold;
  font-size: 1.4rem;
  padding: 10px 0;
}

/* plants-lover-section */

.plants-lover {
  display: flex;
  align-items: center;
  gap: 60px;
  padding-top: 200px;
  margin: auto;
}

.plants-lover-img {
  position: relative;
}

.plants-lover-img .badge {
  width: 286px;
  height: 286px;
  position: absolute;
  top: -120px;
  right: -90px;
}
.plants-lover-content {
  margin-left: 0;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 1);
  padding-bottom: 10px;
}

.plants-lover-content-title {
  font-weight: bold;
  font-size: 3.1rem;
  margin: 0 auto;
}

.plants-text {
  font-weight: 400px;
  font-size: 1.4rem;
  padding-top: 15px;
  padding-left: 30px;
  margin: auto;
}

/* latest-deals */

.latest-deals {
  padding-top: 120px;
  gap: 50px;
}

.latest-deals-content {
  align-items: center;
  text-align: center;
}
.latest-deals-title {
  font-weight: bold;
  font-size: 3.1rem;
}

.latest-deals-content-description {
  font-weight: 400px;
  font-size: 1.4rem;
}
/* // */
.offers-container {
  display: flex;
  gap: 20px;
  padding-top: 100px;

  margin: auto;
}

.left-column {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 367px;
  height: 423px;
}

.right-column {
  width: 753px;
  height: 423px;
}

.offer-card-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    /* Dark overlay */ url("../images/deal-bloom.png"); /* Background image */
  background-size: cover;
  background-position: center;
  border-radius: 14px;
  width: 367px;
  height: 201px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.offer-card-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    /* Dark overlay */ url("../images/deal-ana.png"); /* Background image */
  background-size: cover;
  background-position: center;
  border-radius: 14px;
  height: 367px;
  height: 197px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.offer-card-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    /* Dark overlay */ url("../images/deal-zabo.png"); /* Background image */
  background-size: cover;
  background-position: center;
  border-radius: 22px;
  width: 753px;
  height: 423px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.offer-text {
  color: white;
  text-align: center;

  padding: 15px;
  width: 270;
  height: 77px;
}

.offer-text h3 {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
}
.offer-title {
  font-weight: bold;
  font-size: 2.5rem;
  margin: 0;
}
.shop-btn {
  display: inline-block;
  margin-top: 8px;
  padding: 6px 12px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}
.shop-btn-2 {
  color: white;
  font-weight: bold;
  font-size: 1.75rem;
}

/* join-section */

.join-section {
  padding-top: 120px;
}

.join-content {
  max-width: 1440px;
  height: 533px;
  background-image: url(../images/news-letter-bg.png);
  background-size: cover;
  background-position: center;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-top: 50px;
}

.join-content-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 830px;
  height: 141px;
  align-items: center;
  margin: 0;
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.join-content-title {
  text-align: center;
  font-weight: bold;
  font-size: 3.1rem;
  color: white;
  margin-bottom: 20px;
}

.join-from {
  width: 830px;
  height: 50px;
  display: flex;
}
input[type="Email"] {
  width: 644px;
  height: 50px;
  background-color: white;
  display: block;
  padding: 10px 20px;
  margin-bottom: 24px;
  border: none;
  font-weight: 400;
  font-size: 1rem;
}
.sub-btn {
  width: 186px;
  height: 50px;
  font-weight: 400 px;
  font-size: 1 rem;
}

/* footer-section */

footer {
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 30px;
}
.footer-content {
  /* display: flex;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: 350px 85px 128px 216px;
    gap: 50px; */

  display: flex;
  justify-content: space-between;
  align-items: start;

  gap: 50px;
}
.footer-content-logo {
  max-width: 360px;
}

/* #f-logo {
  width: 135px;
  height: 82px;
} */
.footer-content-logo-description {
  font-weight: 400;
  font-size: 1.4rem;
}
.footer-content-nav-1 {
  flex-direction: column;
  margin: 0 auto;
  line-height: 50px;
}

.footer-content-nav-2 {
  flex-direction: column;
  margin: 0 auto;
  line-height: 50px;
}
.footer-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  padding-bottom: 180px;
}
/* .footer-icon a{


 } */
footer ul li {
  list-style: none;
  margin: 0;
}
footer a {
  text-decoration: none;
}
.footer-link {
  font-weight: 500;
  font-size: 1rem;
}
/* mobile-responsive-smaller-device */

@media (max-width: 576px) {
  * {
    margin: 0;
    padding: 0;
  }
  .container {
    margin: 10px;
  }
  .nav-item {
    display: none;
  }
  .banner {
    flex-direction: column-reverse;
    /* text-align: center; */
    margin: 10px auto;
  }
  .banner-content-left {
    margin-bottom: 30px;
    margin: auto;
    padding-top: 30px;
  }
  .banner-title {
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 50px;
    /* font-size: 70px; */
    padding-right: 20px;
  }
  .banner-description {
    font-weight: 400px;
    font-size: 16px;
    padding: 10px;
    padding-right: 20px;
    color: rgba(0, 0, 0, 0.5);
    margin: 10px 0 0 0;
  }
  .banner-flower-right {
    display: block;
    margin-right: 20px;
  }

  /* our-plans-section */
  .our-plants-content {
    align-items: center;
    text-align: center;
    padding-top: 30px;
  }
  .our-plants-content-title {
    font-weight: bold;
    font-size: 2.5rem;
  }

  .our-plants-content-description {
    font-weight: 400px;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
    padding: 10px 30px;
  }
  .flower-container {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 50px;
    gap: 15px;
  }
  .flower {
    border: none;
    /* gap: 50px; */
  }

  .flower-content {
    text-align: center;
  }

  .flower-title {
    font-weight: 500px;
    font-size: 1.4rem;
    padding-top: 10px;
  }
  .flower-description {
    font-weight: bold;
    font-size: 1.4rem;
    padding: 10px 0;
  }
  /* plants-lover-section */

  .plants-lover {
    flex-direction: column;
    text-align: center;

    gap: 60px;
    /* padding-top: 200px; */
    margin: auto;
  }
  .badge {
    display: none;
  }
}
